__pycache__/
*.pyc
.git/
.gitignore
.venv
dbt_project/
dev_testing/
docs/
terraform/
dev.env
example.env
README.md
.gcloudignore
gcloud
__init__.py

!configs/
!orchestrator/
!pipeline/
!schemas/
!Dockerfile
!requirements.txt
