__pycache__/
*.pyc
.git/
.gitignore
.venv/
dbt_project/
dev_testing/
docs/
terraform/
dev.env
example.env
README.md
__init__.py
metadata_pipeline/
logs/
file_list.txt

!configs/
!orchestrator/
!pipeline/
!schemas/
!.Dockerfile
!requirements.txt
!.dockerignore
!gcloud
