.venv/
.vscode/
__pycache__/
*.pyc*
.DS_Store
*.ruff_cache*
*.mypy_cache*
*.terraform*
*.code-workspace*
LICENSE.txt
*.exe*
*.backup*
*.tfstate*
*.tfvars*
*.gcloudignore*
logs/
target/
state/
macros/
snapshots/
dbt_packages/
*user*
*lock*


!docs/
!platform/
!.gitignore
!README.md
!.github/