.venv/
__pycache__/
*.pyc
.env
.DS_Store
dbt_project/
dev_testing/
*.terraform*
LICENSE.txt
*.exe
*.backup
*.tfstate
*.tfvars
gcloud
dev.env
__init__.py

!configs/
!docs/
!orchestrator/
!pipeline/
!schemas/
!terraform/
!.gitignore
!Dockerfile
!example.env
!README.md
!requirements.txt