.venv/
.vscode/
__pycache__/
*.pyc*
.env
.DS_Store
*dev_testing.py*
dev_testing/
*.terraform*
*.code-workspace*
LICENSE.txt
*.exe*
*.backup*
*.tfstate*
*.tfvars
gcloud
dev.env
logs/
target/
macros/
snapshots/
tests/
dbt_packages/
alerts_system/
*.user.yml*



!docs/
!terraform/
!.gitignore
!README.md
!.github/
!el_system/
!dbt_project/
!metadata_system/
!package-lock.yml